@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@700&display=swap');

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.5rem;
}

.welcome{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #EAF2FB;
}
.inner-welcome{
    width: 60%;
    height: 100%;
    margin: auto;
}
.md-width{
    width: 100%;
    height: 55vh;
    grid-template-columns: repeat(2,1fr);
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 15px;
    box-shadow: 0px 10px 30px 3px #b4bcc4ee;
}
.md-width img{
    width: 90%;
    height: 100%;
    margin-right: 1.5rem;
}
.sm-width{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
}
.sm-width h1{
    font-family:'Source Serif Pro', serif;
    font-size: 1.7rem;
    color: #576574;
}
.sm-width form{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 3px 20px  #b4bcc4ee;
}
.sm-width form label{
    font-family:'Hind', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem 0;
    color: #576574;
}
.sm-width form input{
    color: #576574;
    font-size: 1rem;
    border: none;
    font-family:'Source Serif Pro', serif;
    outline: none;
    border-bottom: 2px solid  #576574;
    margin: 2rem 0;
    transition: border-bottom .5s ease-in-out;
}
.btn-md:hover{
    background: linear-gradient(169deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 29%, rgba(17,187,223,1) 97%);
    opacity: 0.8;
}
.sm-width form input:focus{
    border-bottom: 2px solid rgba(17,187,223,1);
}
.head-title{
    font-family:'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    color:#c1c6ca;
    letter-spacing: 5px;
    margin-bottom: .5rem;
}
.footer h3{
    margin: 3rem 0;
    text-align: center;
    font-family:'Hind', sans-serif;
    color: #576574;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

@media(max-width: 1250px){
    .md-width{
        grid-template-columns: 4fr 1fr;
    }
    .md-width img{
        width: 100%;
    }
    .sm-width{
        padding: 1rem;
    }
    .sm-width h1{
        font-size: 1.2rem;
        margin-top: 5rem;
    }
    .sm-width form label{
        font-size: 0.9rem;
    }
    .sm-width form input{
        font-size: 0.8rem;
        margin: .8rem 0;
    }
    .head-title{
        font-size: 1.5rem;
    }
}

/* DashBoard Styling */
.dashboard{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #EAF2FB;
}
.inner-dashboard{
    width: 60%;
    margin: auto;
}
.md-width-dash{
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 15px;
    box-shadow: 0px 10px 30px 3px #b4bcc4ee;
}
.md-width-dash-upper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.md-width-dash-upper img{
    text-align: center;
    width: 12rem;
    height: 55px;
}
.md-width-dash-upper h3{
    font-family:'Hind', sans-serif;
    text-transform: uppercase;
    margin-top: .8rem;
    color:rgba(0,212,255,1);
    border-bottom: 1px solid rgba(0,212,255,1);
}
.md-width-dash-upper-heading{
    font-family: 'Source Serif Pro', serif;
    color: #576574;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Designing of 6 faces  */

.md-width-dash-faceContainer{
    display: grid;
    width: 80%;
    height: 100%;
    /* border: 1px solid black; */
    grid-template-rows: repeat(3,1fr);
}
.md-width-dash-faceContainer-inner{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}

.md-width-dash-faceContainer-inner-in{
    /* border: 1px solid black; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .md-width-dash-faceContainer-inner-in img{
    width: 50%;
    height: 80%;
    cursor: pointer;
} */
.md-width-dash-faceContainer-inner-in h3{
    font-family:'Hind', sans-serif;
    color: #373e46;
    cursor: pointer;
}

/* Utility Class */

.btn-md{
    color: white;
    font-family:'Hind', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.6rem;
    margin-top: 1rem;
    border-radius: 7px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    outline: none;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}
.btn-lg{
    color: rgba(0,212,255,1);
    font-family:'Hind', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.6rem 2.5rem;
    margin: 1rem 0 2rem 0; 
    border-radius: 30px;
    background: transparent;
    outline: none;
    border: 3px solid rgba(0,212,255,1);
    cursor: pointer;
    transition: background-color .4s ease-in-out,color .4s ease-in-out;
}
.btn-lg:hover{
    color: white;
    background-color: rgba(0,212,255,1);
}

.btn-sm{
    margin: 1rem auto;
    text-align: center;
    width: 30%;
    padding: .5rem .6rem;
    font-family:'Hind', sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    background: rgb(2,0,36);
    background: linear-gradient(342deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.8715861344537815) 25%, rgba(17,187,223,1) 97%);
    color: #ffffff;
    border: none;
    border-radius: 0.3rem;
    outline: none;
}
.btn-sm:hover{
    opacity: 0.9;
}

/* Color filler styling */

.color-filler-container{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.3);
    overflow: hidden;
}

.color-filler{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    border-radius: 5px;
    /* height: 40%; */
    box-shadow:2px 4px 10px rgba(0, 0, 0, 0.315),-2px -4px 10px 3px rgba(0, 0, 0, 0.315);
    background:#EAF2FB;
    display: grid;
    grid-template-rows: 1fr 6fr;
    transform: translate(-50%,-50%);
    animation-name:slowModal;
    animation-duration: .3s;
}
.color-filler-rowupper{
    display: flex;
    padding: 0 0.5rem;
    border-radius: .1rem;
    justify-content: space-between;
    padding: 1rem 1.2rem;
    background: rgb(2,0,36);
    background: linear-gradient(342deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.8715861344537815) 25%, rgba(17,187,223,1) 97%);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.363);
}
.color-filler-rowupper h4{
    margin: 0;
    color: white;
    cursor: pointer;
}
.color-filler-rowupper h3{
    margin: 0;
    font-family: 'Hind', sans-serif;
    color: #ffffff;
}
.color-filler-rows{
    padding: 1rem 1.2rem;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    
}
.color-filler-row1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.color-filler-row2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.color-filler-row3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.color-filler-box{
    border: 2px solid #576574;
    cursor: pointer;
}

/* Styling of color Picker */

.color-picker{
    position: absolute;
    top: 50%;
    left: 30%;
    width: 7%;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 8fr;
    height: 50%;
    box-shadow:2px 4px 10px rgba(0, 0, 0, 0.315),-2px -4px 10px 3px rgba(0, 0, 0, 0.315);
    transform: translate(-50%,-50%);
    background-color:#EAF2FB;
    animation-name:slowModal;
    animation-duration: .3s;
}
.color-picker-upper{
    background: rgb(2,0,36);
    background: linear-gradient(342deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.8715861344537815) 25%, rgba(17,187,223,1) 97%);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.397);
    padding: .6rem;
}
.color-picker-upper h3{
    color: white;
    margin: 0;
    font-family:'Hind', sans-serif;
    font-size: 1.1rem;
}
.color-picker-lower{
    padding: 1rem;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(6,1fr);
}
.color-picker-lower-box1{
    background-color: red;
    border: 2px solid black;
    cursor: pointer;
}
.color-picker-lower-box2{
    background-color: yellow;
    border: 2px solid black;
    cursor: pointer;
}
.color-picker-lower-box3{
    background-color: blue;
    border: 2px solid black;
    cursor: pointer;
}
.color-picker-lower-box4{
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}
.color-picker-lower-box5{
    background-color: orange;
    border: 2px solid black;
    cursor: pointer;
}
.color-picker-lower-box6{
    background-color: green;
    border: 2px solid black;
    cursor: pointer;
}


/* Designing for dashboard face */

.color-filler-rows-dash{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    width: 50%;
    height: 11rem;
    cursor: pointer;
    
}

.color-filler-rows-dash:hover {
    grid-gap: 10px;
    animation-name: gap;
    animation-duration: .3s;
}

.color-filler-rows-dash:hover .color-filler-row-dash{
    grid-gap: 10px;
    animation-name: gap;
    animation-duration: .3s;
}

.color-filler-row-dash{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    pointer-events: none;
}
.color-filler-box-dash{
    border: 2px solid black;
}



/* Error styling */
.error{
    border: 2px solid #fa2743;
    display: none;
    border-radius: 8px;
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: .4rem 0;
    background-color: #ff7a8c83;
    animation-name: errorSlow;
    animation-duration: .5s;
}
.error h3{
    font-family: 'Hind', sans-serif;
    color: #fa2743;
    margin: 0;
    text-align: center;
    font-size: 0.9rem;
}
.error h5{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.7rem;
    right: 10px;
    color: #fa2743;
    cursor: pointer;
}

/* ValidationError styling */
.errorDisplay{
    display: none;
    animation: fade-in .9s;
}
.validationError{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color: #ff7a8cc7;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.205), -3px 2px 10px rgba(0, 0, 0, 0.205);
}
.validationError h3{
    margin: 0;
    font-family:'Hind', sans-serif;
    font-size: 1rem;
    color: #f70f2e;

}
.validationError h5{
    margin: 0;
    margin-left: 1.5rem;
    font-size: 0.7rem;
    cursor: pointer;
    color: #f11230;

}

/* Loading Screen */

.loader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    top: 0;
    left: 0;
    background-color: white;
    display: none;
}

.dots{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.dots span{
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    animation: bounce 0.7s infinite alternate;
}
.dots span:nth-child(1){
    background-color: #3fdf54;
}
.dots span:nth-child(2){
    background-color: #e324c6;
    animation-delay: .3s;
}
.dots span:nth-child(3){
    background-color: #3c24f1;
    animation-delay: .6s;
}

.loadertext{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-55%);
    font-family: 'Hind', sans-serif;
    font-size: 1rem;
    color:#12a5ce;
}

/* Result Page Design */

.dashboard-result{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #EAF2FB;
}

     /* List designing */
.all-steps{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    
}
.step{
    width: 80%;
    border-radius: 10px;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.253);
    background-color:#25F69B;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.2rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}
.step p:nth-child(1){
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 1.3rem;
    color:#0072A1;
    margin: 0;
    pointer-events: none;
}
.step p:nth-child(2){
    font-size: 1.3rem;
    margin:0;
    color: #0072A1;
    pointer-events: none;
}
.detailStep{
    /* border: 2px solid black; */
    background-color: #25f69b4f;
    display: none;
    height: 60px;
    width: 80%;
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    animation: slowbottom .4s;
}

/* .detailStep ul{
    height: 50px;
    display: flex;
    list-style: none;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    animation: slowbottom .4s;
    
} */

/* .detailStep li{
    font-family: 'Hind',sans-serif;
    font-size: 1.5rem;
    margin-bottom: .5rem;
    color: #0072A1;
} */

.detailStep h3{
    font-family: 'Hind',sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: .5rem;
    color: #0072A1;
    animation: fade-in 1s;
}

/* animation keyframes */

@keyframes errorSlow{
    from{
        width: 0;
    }
    to{
        width: 90%;
    }
}

@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@keyframes slowbottom{
    from{
        height: 0;
    }
    to{
        height: 60px;
    }
}


@keyframes gap{
    from{
        grid-gap: 0;
    }
    to{
        grid-gap: 10px;
    }
}

@keyframes slowModal{
    from{
        top: 100%;
    }
    to{
        top: 50%;
    }
}

@keyframes bounce{
    to{
        transform: translate3d(0,-25px,0);
    }
}